﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - app_web_backend</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="C:\Users\emili\Source\Repos\pmv-ads-2024-1-e2-proj-int-t7-grupo_cooking_fitt\CkkingFitComView\CkkingFitComView\Views\Home\site.css" />
</head>

<body>
    <div class="page">
        <nav id="nav-bar">
            <div class="menu-img">
                <img src= "C:\Users\emili\Source\Repos\pmv-ads-2024-1-e2-proj-int-t7-grupo_cooking_fitt\CkkingFitComView\CkkingFitComView\wwwroot\NewFolder\salada 1.png" alt="Imagem da logo: TôFit">
            </div>

            <div class="icone-usuario">
                <img src="" alt="Foto do usuario">
            </div>
        </nav>

        <main>
            <div id="atividade">
                <input type="text" id="txtBusca" placeholder="Pesquisar..." />
                <img src="images/search.png" id="btnBusca" alt="Buscar" />
            </div>

            <div class="buttonpouco">
                <div>
                    <button id="pouco">Pouco Ativo</buttonid="pouco">
                </div>
            </div>

            <div class="buttonnormal">
                <div>
                    <button id="ativo">Ativo</button>
                </div>
            </div>

            <div class="buttonmuito">
                <div>
                    <button id="muito">Muito Ativo</button>
                </div>
            </div>

        </main>


    </div>
    <script src=""></script>
</body>


