@model CookingFit_backend.Models.Cardapio
@{
    ViewData["Title"] = "Create";
}

<h1>Adicionar plano alimentar</h1>

<form asp-action="Create" id="createForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Descricao" class="control-label"></label>
        <select asp-for="Descricao" class="form-control" asp-items="@Model.Cardapios">
            <option>Selecione um tipo de refeição</option>
        </select>
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Selecione até 10 ingredientes</label>
        <select asp-for="IngredientesIds" class="form-control" asp-items="@Model.Ingredientes" multiple id="ingredientesSelecionados">
        </select>
        <span asp-validation-for="IngredientesAssociados" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CaloriasCardapio" class="control-label">Calorias</label>
        <input asp-for="CaloriasCardapio" class="form-control" id="caloriasCardapio" readonly />
        <span asp-validation-for="CaloriasCardapio" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Adicionar" class="btn btn-success" />
    </div>
</form>

@section Scripts {
    <script>
        // Função para calcular as calorias dos ingredientes selecionados
        function calcularCalorias() {
            var ingredientesSelecionados = document.getElementById("ingredientesSelecionados");
            var caloriasTotais = 0;
            for (var i = 0; i < ingredientesSelecionados.options.length; i++) {
                if (ingredientesSelecionados.options[i].selected) {
                    caloriasTotais += parseInt(ingredientesSelecionados.options[i].getAttribute("data-calorias"));
                }
            }
            document.getElementById("caloriasCardapio").value = caloriasTotais;
        }

        // Evento de mudança nos ingredientes selecionados
        document.getElementById("ingredientesSelecionados").addEventListener("change", function () {
            calcularCalorias();
        });

        // Chamada inicial para calcular as calorias ao carregar a página
        calcularCalorias();
    </script>
}
