@model List<CookingFit_backend.Models.Cardapio>

@{
    ViewData["Title"] = "Cardapios";
}

<h1>Cardapios</h1>

<table class="table">
    <thead>
        <tr>
            <th>Descricao</th>
            <th>Quantidade</th>
            <th>Calorias</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Descricao</td>
                <td>@item.QuantidadeCardapio</td>
                <td>@item.CaloriasCardapio</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Create">Create New</a>
</div>
