@model List<CookingFit_backend.Models.Ingrediente>

@{
    ViewData["Title"] = "Select Ingredientes";
}

<h2>Selecionar Ingredientes</h2>

<form asp-action="Select" method="post">
    <!-- Movido o botão "Adicionar" para fora da tabela -->
    <button type="submit" class="btn btn-success mb-3">Adicionar</button>

    <div class="form-group">
        <label for="selectIngrediente">Selecione um Ingrediente:</label>
        <!-- Adicionado um ID ao select -->
        <select asp-controller="Ingredientes" id="selectIngrediente" name="selectedIngredienteId" class="form-control">
            <option value="">-- Selecione um Ingrediente --</option>
            <!-- Loop para criar as opções de ingrediente -->
            @foreach (var item in Model)
            {
                <option value="@item.Id">@item.Nome</option>
            }
        </select>
    </div>

    <!-- Adicionado o botão "Selecionar" -->
    <button type="submit" class="btn btn-primary">Selecionar</button>
</form>
