@model IEnumerable<CookingFit_backend.Models.TipoIngrediente>

@{
    ViewData["Title"] = "Index";
}

<h2>Selecione o grupo</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Selecionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                <a asp-action="Create" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


