@model IEnumerable<CookingFit_backend.Models.ItemCardapio>

@{
    ViewData["Title"] = "Index";
}

<h1>Refeições</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Adicionar outros</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tipo de Cardápio
            </th>
            <th>
                Total de Calorias
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        var tipoCardapio = string.Empty;

                        switch (item.TipoCardapioId)
                        {
                            case 1:
                                tipoCardapio = "Café da manhã";
                                break;
                            case 2:
                                tipoCardapio = "Lanche da manhã";
                                break;
                            case 3:
                                tipoCardapio = "Almoço";
                                break;
                            case 4:
                                tipoCardapio = "Lanche da tarde";
                                break;
                            case 5:
                                tipoCardapio = "Jantar";
                                break;
                            default:
                                tipoCardapio = "Tipo não especificado";
                                break;
                        }
                    }
                    @tipoCardapio
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalCalorico)
                </td>
                <td>
@*                     <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Visualizar</a> | *@
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Index" class="btn btn-info">Voltar</a>
</p>