@model CookingFit_backend.Models.Ingrediente

@{
    ViewData["Title"] = "Create";
}

<h1>Adicionar Ingrediente</h1>

<h4>Ingrediente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoIngredienteId" class="control-label">Tipo de Ingrediente</label>
                <select id="TipoIngredienteId" asp-for="TipoIngredienteId" class="form-control" asp-items="ViewBag.TipoIngredienteId">
                    <option value="">-- Selecione um Tipo de Ingrediente --</option>
                </select>
                <span asp-validation-for="TipoIngredienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calorias" class="control-label">Calorias</label>
                <input asp-for="Calorias" class="form-control" id="Calorias" readonly="readonly" />
                <span asp-validation-for="Calorias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span id="caloriasMensagem" class="text-info"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unidade" class="control-label">Unidade</label>
                <input asp-for="Unidade" class="form-control" />
                <span asp-validation-for="Unidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Peso" class="control-label">Peso</label>
                <input asp-for="Peso" class="form-control" />
                <span asp-validation-for="Peso" class="text-danger"></span>
            </div>

            <input type="submit" asp-action="Create" asp-route-tipo="Index" value="Adicionar" class="btn btn-success" />

        </form>
    </div>
</div>
<p>

    <a asp-controller="Home" asp-action="Index" class="btn btn-info">Voltar</a>
</p>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        document.getElementById('TipoIngredienteId').addEventListener('change', function () {
            var selectedValue = this.value;
            var caloriasField = document.getElementById('Calorias');
            var caloriasMensagem = document.getElementById('caloriasMensagem');

            switch (parseInt(selectedValue)) {
                default:
                    caloriasField.value = 0;
                    caloriasMensagem.textContent = "Calorias desconhecidas";
                    break;
                case 1: // Carboidratos
                    caloriasField.value = 150;
                    caloriasMensagem.textContent = "Cadastre o equivalente a 150 calorias";
                    break;
                case 2: // Carnes e ovos
                    caloriasField.value = 190;
                    caloriasMensagem.textContent = "Cadastre o equivalente a 190 calorias";
                    break;
                case 3: // Frutas
                    caloriasField.value = 70;
                    caloriasMensagem.textContent = "Cadastre o equivalente a 70 calorias";
                    break;
                case 4: // Laticínios
                    caloriasField.value = 120;
                    caloriasMensagem.textContent = "Cadastre o equivalente a 120 calorias";
                    break;
                case 5: // Legumes e Verduras
                    caloriasField.value = 15;
                    caloriasMensagem.textContent = "Cadastre o equivalente a 15 calorias";
                    break;
                case 6: // Leguminosas
                    caloriasField.value = 55;
                    caloriasMensagem.textContent = "Cadastre o equivalente a 55 calorias";
                    break;
                case 7: // Óleos e Gorduras
                    caloriasField.value = 73;
                    caloriasMensagem.textContent = "Cadastre o equivalente a 73 calorias";
                    break;
            }
        });
    </script>
}
